<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Local_DBGeogivenVM" connectionString="XpoProvider=MySql;server=127.0.0.1;port=3306;user id=root; password=toorGGVM; database=geogiven_vm;persist security info=true;CharSet=utf8;" />
    <add name="localhost_geogiven_vm_Connection-Kantor" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=toorGGVM; database=geogiven_vm;persist security info=true;CharSet=utf8;" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/McSkin</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseWindowsFont</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="Office 2019 Dark Gray">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="96,94,92" />
                <SvgColor Name="Paint High" Value="212,212,212" />
                <SvgColor Name="Paint Shadow" Value="190,187,184" />
                <SvgColor Name="Paint Deep Shadow" Value="68,68,68" />
                <SvgColor Name="Paint Dark" Value="38,38,38" />
                <SvgColor Name="Brush" Value="240,240,240" />
                <SvgColor Name="Brush High" Value="38,38,38" />
                <SvgColor Name="Brush Shadow" Value="38,38,38" />
                <SvgColor Name="Brush Light" Value="152,150,148" />
                <SvgColor Name="Brush Major" Value="68,68,68" />
                <SvgColor Name="Brush Minor" Value="68,68,68" />
                <SvgColor Name="Accent Paint" Value="164,55,58" />
                <SvgColor Name="Accent Paint Dark" Value="145,44,47" />
                <SvgColor Name="Accent Paint Light" Value="68,68,68" />
                <SvgColor Name="Accent Paint Lighter" Value="150,150,150" />
                <SvgColor Name="Alternate Accent Paint Light" Value="250,220,221" />
                <SvgColor Name="Alternate Accent Paint Lighter" Value="251,233,234" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="218,175,176" />
                <SvgColor Name="Red" Value="216,59,1" />
                <SvgColor Name="Green" Value="44,151,83" />
                <SvgColor Name="Blue" Value="45,80,156" />
                <SvgColor Name="Yellow" Value="217,120,57" />
                <SvgColor Name="Black" Value="68,68,68" />
                <SvgColor Name="Gray" Value="152,150,148" />
                <SvgColor Name="White" Value="248,248,248" />
                <SvgColor Name="Red Light" Value="252,117,83" />
                <SvgColor Name="Green Light" Value="115,221,131" />
                <SvgColor Name="Blue Light" Value="131,190,236" />
                <SvgColor Name="Yellow Light" Value="245,196,113" />
                <SvgColor Name="Black Light" Value="212,212,212" />
                <SvgColor Name="Gray Light" Value="152,150,148" />
                <SvgColor Name="White Light" Value="96,94,92" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
</configuration>